/*Tausta ja containerit ja muut yleiset*/
body{
    background: #00213D;
    font-family: Chivo, sans-serif;
}
#container{
    padding:10px;
    background: #2589BB;
    margin: 20px;
}
#footer-container{
    padding:10px;
    background: #2589BB;
    margin: 20px;
}
p{
    font-family: Chivo, sans-serif;
    text-align: justify;
    line-height: 1.25em;
}
h1,h2,h3,h4{
    font-family: Overpass, sans-serif;
}
/*Header*/
header{
    text-align:center;
}
header img{
    max-width: 100%;
}

/*Menu*/
#menu{
    display: flex;
    flex-wrap: wrap;
    background: #88C8E7;
    list-style-type: none;
}
#menu li{
    padding: 5px;
}
#menu a{
    text-decoration: none;
    color: black;
}
#menu a:hover{
    /*Kun hiiri on menussa olevan linkin päällä linkin tekstin väristä tulee taustan vastaväri*/
    color: white;
    mix-blend-mode: difference;
}
#dropdown{
    display: none;
    position: absolute;
    background-color: #88C8E7;
    padding: 5px;
    border-radius: 0 10px 10px;
    border: #00213D 2px solid;
}
#dropdown-link:hover #dropdown{
    display: block;
}

/*Article*/
article{
    background: #88C8E7;
    padding: 20px;
    width: 80%;
}
article img{
    padding: 20px;
    max-width: 360px;
    max-height: 200px;
}
.flex-article{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}
@media only screen and (max-width: 1200px) {
    .flex-article {
        flex-wrap: wrap;
    }
}
/*Footer*/
footer{
    display: flex;
    flex-wrap: wrap;
}
#socialmedia{
    margin: auto;
}
footer h1, footer h2, footer h3, footer h4{
    width: 100%;
    text-align: center;
}
footer img{
    max-height: 50px;
    width: auto;
    padding: 5px;
    margin-right: 50px;
}

/*Tietoja sivu*/
.muotokuva{
    width: 175px;
    height: 250px;
}
#about-article{
    width: auto;
}

/*Koodi sivut*/
.taulukko, .taulukko td{
    border: 1px solid black;
    border-collapse: collapse;
    background: #EBEBEB;
}
.taulukko td{
    padding: 10px;
}



.flex-container {
    position: fixed;
    right: 8vh;
    top: 10vh;
    width: 30vh;
    height: 100vh;
    overflow: auto;
    flex-wrap: wrap;
}

.flex-container p {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 40px;
    color: black;
}

.flex-container div {

    position: relative;
    width: 30vh;
    height: 15vh;
}

.flex-container div a {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.flex-container div figure a img {
    width: 30vh;
    height: auto;
    position: relative;

}

.flex-container div figure figcaption {
    position: relative;
    color: white;
    width: 30vh;
    bottom: 3vh;
    left: 0.5vh;
}

.img-container {
    width: 82.5%;
    height: auto;
    overflow: no-display;
}

.img-container img {

    max-width: 33%;
    max-height: 33%;
}

nav {
    width: 82.2%;
}


@media only screen and (max-width: 1600px) {
    .flex-container {
        position: static;
        width: 1000px;
    }

    .flex-container p {
        width: 30vh;
    }
    article{
        width: auto;
    }

    .img-container {
        width: 100%;
    }
}



